[2018-04-26 21:27] revad opened #5 "Does not work in gecko browsers"
See https://together.jolla.com/question/183247/bug-missing-feature-on-sailfish-os-browser/

The Jolla browser is gecko-based. It doesn't work in Firefox desktop or Android (v59) either.

(revad = DaveRo)

[2018-04-27 03:36] blakevanlan commented on #5
Thanks for bring this to my attention! I've pushed a change that looks like it fixes the primary problem but the animation still could use some work.

[2018-04-27 03:36] #5 closed

[2018-05-12 14:19] 23doors opened #6 "Add more settings for recommended set up"
It would be great if you could consider adding some features from: http://inprogressgaming.com/dominion-card-picker/

Namely:
* Require card that provide +2 or more cards
* And recommended mode:
    0-1 cards of cost 1
    1-2 of cost 2
    1-3 of cost 3
    2-3 of cost 4
    2-4 of cost 5
    0-2 of cost 6
    0-1 of cost 7
    0-2 attack cards
    0-3 non-action
    0-2 events

This can be consi

[2018-07-25 01:10] blakevanlan commented on #6
First part done! I added a new option for "Require drawer" that forces the set to have at least one card that draws 2 or more cards. (If you have a better title I'm all ears)

On to attempting to rework the 'Distribute cost' option.

[2019-01-03 02:30] kasuinc opened #8 "Add Sort By Cost"
Could you possibly add a sort feature that sorts by kingdom card cost in ascending order?  Our group always sorts this way to aid in purchasing decisions.

I am assuming the sort would look like:
- Sort by Cost on, Sort Alpha Off = cards sorted in ascending cost order, then default sort (is it expansion?) within the same cost
- Sort By Cost on, Sort Alpha On = cards sorted in ascending cost order,

[2019-01-03 03:45] blakevanlan commented on #8
Good idea! Added an option to sort by set, alphabetical, and cost. Enjoy!

[2019-01-03 03:45] #8 closed

[2019-01-03 04:00] kasuinc commented on #8
That is fantastic!  Thanks for such a quick turnaround!   I really like your application.

[2019-02-06 19:16] DavidGasku opened #9 "Copy cards list to clipboard"
This would allow to paste the cards list to dominion.games, so you can play several games with the same kingdom.
Thanks for this great webpage!

[2019-02-09 15:18] blakevanlan commented on #9
Hi David!

Great suggestion. It looks like https://dominion.games supports copying and pasting using a comma separated list in the "Enter cards to include in your kingdom" box.

You can pretty much get this to work today by pulling the cards from the URL:
`
https://dominionrandomizer.com/?supply=chapel,councilroom,festival,gardens,merchant,militia,moat,remodel,vassal,witch
`

But you'd need to add

[2019-03-17 05:35] asr1 opened #10 "Nobles sort as 5 but cost 6"
In regular Intrigue (not 2nd) Nobles sort as if they cost 5 but display a cost of 6.

[2019-03-17 15:18] #10 closed

[2019-03-24 09:23] sleepyistired opened #12 "Replace with 7 cost (any,any) fails"
As title suggests any attempt to replace with exactly a 7 cost card (any set, any type) fails to replace the card at all.

[2019-03-24 16:25] blakevanlan commented on #12
Thanks for the bug report! Found that this was actually affecting a bunch of single card replacement cases.

Should now be fixed. Let me know if you're still seeing it!

[2019-03-24 16:25] #12 closed

[2019-09-12 13:40] gillesgros opened #13 "Add set label on recommended kingdom page"
When browsing thru recommended set, it would be nice to have, as  on the randomizer page the label indicating to which set the card is belonging.

I do not know yet enough  reactJs to fullfill this.

Thanks in considering this request.

[2019-09-12 16:10] gillesgros opened #14 "Give access to rules pdf"
Is it possible to add a page with sets list on the right side an on the left a display of the selected pdf rule.

By the way you are missing teh 2 following rules files

Dominion 2nd ed : http://riograndegames.com/getFile.php?id=2011
Intrigue 2nd ed :  http://riograndegames.com/getFile.php?id=2012

[2019-09-13 14:49] blakevanlan commented on #14
Thanks for the suggestion! I'll hopefully to get it this weekend 😄

[2019-09-13 14:50] blakevanlan commented on #13
👍 Good idea. I'll make that change.

[2019-09-14 17:15] gillesgros opened #15 "Add filter in "recommended kingdoms""
As there is a lot of "recommended kingdoms", it would be great to have a another sidebar menu (with checkbox) to display the "recommended kingdoms" that match at least the selection

For example I want to see all the "recommended kingdoms" that use Seaside cards. Or the RK that use Seaside and Prosperity.

This came to me while trying to make kingdoms/Base-set-2.yaml and intrigue-2.yaml.

[2019-09-14 18:38] blakevanlan commented on #13
Recommended kingdoms now have the labels:
![image](https://user-images.githubusercontent.com/987656/64912431-3a9dc980-d6fd-11e9-9c7b-291a70433439.png)

[2019-09-14 18:38] #13 closed

[2019-09-14 18:39] blakevanlan commented on #14
Added a new page for rules and included the 2nd edition rules. Sorry that it's ugly...

[2019-09-14 18:39] #14 closed

[2019-09-14 18:42] blakevanlan commented on #15
I originally had the sidebar be checkboxes but I found that in reality I usually was browsing all available kingdoms with a specific set in mind (say Intrigue); I got annoyed at have to uncheck multiple boxes when switching around.

What do you think? Checkboxes are just better because they're more flexible?

[2019-09-15 01:12] gillesgros commented on #15
The current sidebar (with radiobox) to browse thru the Recommended Kingdoms is the right way to do it.

I had in mind a second panel in the sidebar (or a new page) allowing to filter all the games that are defined and filter them.

[2019-09-15 01:14] gillesgros commented on #14
Great !
You did it fast. It is possible to keep the top menu instead of loading the pdf on the full page ?

[2019-09-15 01:14] gillesgros commented on #13
Well Done.
Thanks !

[2019-09-15 21:51] gillesgros commented on #14
To make it nicer you could go for something like this
![Image1](https://user-images.githubusercontent.com/39326434/64928094-a83c1980-d813-11e9-870e-d1e53ea93ddd.png)

[2019-09-24 21:58] gillesgros commented on #14
Hello,

I am  not at all familiar with github.
I have multiple proposal for modification of your work for you to include,
if you like it.
 - a nice page for rules with boxes image
 - an addition of sets (containing only the additional cards for the
baseset and intrigue. there are called baseset (Add 2nd) and intrigue (Add
2nd)
 - I have made some fixes in the recommended kingdoms and integrated th

[2019-09-25 17:44] blakevanlan commented on #14
Love the enthusiasm! I've had a busy week so I don't think I'm actually going to have time to look at any of these until this weekend, but hopefully I can get some of these improvements added to the site.

Cheers!

[2019-09-28 05:41] gillesgros opened #17 "When randomizing "Young Witch" no bane card set"
When randoming , a game with the young witch, no bane card is defined.

[2019-09-28 16:31] gillesgros commented on #17
I almost fix the display on the set page.
I will propose soon a new pull request.

[2019-09-28 20:02] blakevanlan commented on #17
Yes, this has been a long standing thing I've been meaning to get done. I think the way it should be implemented is capturing all the `availableCards` from each supply division after creating a kingdom supply then using that pool of cards to pick a bane card.

I was thinking about adding bane cards this weekend but if you're going to give it a shot then I'll focus on adding boons for Druid instead

[2019-09-29 07:23] gillesgros commented on #17
I don't know if I have yet catch how randomize work.
I will try to give it a shot.

I keep you posted.

Gilles

Le sam. 28 sept. 2019 à 22:02, Blake VanLandingham <notifications@github.com>
a écrit :

[2019-10-04 14:47] gillesgros commented on #17
I have been trying big time this week. I was not able to make it work and being rendered.
I think you should give it a shot.
It is above my current knowledge of the language and the algorithm implemented.

Regards.

[2019-10-04 14:52] blakevanlan commented on #17
Thanks for the effort! Yeah, apologies for it all being more complicated than I would have liked.

I've got a packed weekend so I don't think I'll be able to get a chance to review your PR this weekend but I'll do my best to get to it early next week.

Cheers!

[2019-10-04 21:25] gillesgros commented on #17
Do it at your pace.
I will keep trying understanding the bane problem.
If by any luck I can make it work I will propose PR

Regards

Le ven. 4 oct. 2019 à 16:52, Blake VanLandingham <notifications@github.com>
a écrit :

[2019-10-06 21:36] gillesgros commented on #17
After spending some (good) time on it, I think I made it work.
I need some more testing. I will submit a PR soon.

[2019-10-09 20:17] gillesgros commented on #17
Hi,

I updated the PR with the bane card selection.
Tell me what you think of this.

I am working on different things You can see some at https://71yeti.fr

I am working on some more features (the first set should be done)
 - allow french card and rule display
 - fixing the enlarge button on kingdoms and rules
 - completion of kingdoms based on the available rules
 - Add a banner to ease kingdoms

[2019-10-15 12:50] #17 closed

[2019-10-15 12:50] gillesgros commented on #17
It is nor working for me

[2019-10-15 13:13] gillesgros opened #22 "Display issue with enlarge after replacing a kingdom"
Hello,

On a mobile display (small screen to have the enlarge button active).
1 - request to replace a kingdom (make sure the card move around)
2 - enlarge the view.
    the cards are not aligned.
    changing the sort option fix the problem

[2019-10-17 01:06] blakevanlan commented on #22
Thanks for the report! I'll take a look this weekend.

[2019-10-17 04:54] stefprez commented on #9
This would also be particularly helpful for pasting different curated sets into https://dominion.games as well.

[2019-10-17 13:18] blakevanlan commented on #9
Sorry this fell off my radar. I'll try and get it done this weekend!

[2019-10-20 15:56] #22 closed

[2019-10-20 17:37] #9 closed

[2020-01-22 22:38] gillesgros opened #25 "Possibility to have your own recommended kingdoms local file"
It might be interesting to allow the user to display his personal recommended kingdoms that are stored in a local file. File should be formatted as current recommended kingdoms

I am trying to build that, but my knowledge in vue, yaml make it difficult.

If you want to see where I am at, take a look at: [https://71yeti.fr]( https://71yeti.fr/)

The feature that I build so far are:

internal (not v

[2020-01-23 02:55] blakevanlan commented on #25
Hi,

Answer inline below.

So far, I am able to read the local file content but not yet to transform it as a dominionKingdoms object.
Can you give me an hint on how to parse the file as you have done it for all recommended kingdoms.
Once done, It should be easy to display as for the other sets.

I'm not sure going down the .yaml path is correct. Have you considered using something else like Google

[2020-02-10 22:47] wdeweijer opened #26 "Add card translations"
Since I have a Dutch version of Dominion it's a bit of a nuisance to select the deck from the box (having to guess the correct translation or look for artwork). So it would be very nice if there was an option to include the card translations in some of the other languages the game is published in.

I've included a csv with all the translations for Dutch and German (the only two complete ones I cou

[2020-02-10 23:20] blakevanlan commented on #26
Hi @wdeweijer,

Thanks for the lists! I'll work on integrating translations for all the cards.

Would you be interested in translating other pieces of the site such as the checkbox labels?

[2020-02-11 15:21] wdeweijer commented on #26
Sure! But I don't know much about web dev and have never done localization before so I'm not quite sure where to start. If all the text you would like translated was extracted to a separate file (or however you want to organize it) I would gladly provide translations (at least for Dutch).

[2020-02-15 18:46] blakevanlan commented on #26
No problem! I'll give you a list of phrases that need to be translated with some indication of where those phrases appear.

Working on building the infrastructure for handling translations this weekend.

[2020-02-23 05:16] blakevanlan commented on #26
@wdeweijer Dutch and German card translations are live!

I'm still working on getting the rest of the site translated but if you're still interested I can provide you a spreadsheet with the phrases to translate. Just let me know!

[2020-02-24 13:12] wdeweijer commented on #26
It looks great! The card translations work really well. I'd be happy to translate more of the site.

A few mistakes I spotted:
- In the language menu: "German" as a noun in Dutch is "Duits" and in German "Deutsch"
- promos_walledvillage is still called "Null" in Dutch. Since this card doesn't exist it might be best to leave it blank or to make up a name. "Ommuurd Dorp" would work.
- A bit unfortun

[2020-02-25 02:03] blakevanlan commented on #26
Thanks for the thoroughness here!

I fixed all of the issues you pointed out. Couple notes:
- For promos_walledvillage, went with "Ommuurd Dorp"
- "De Donkere Middeleeuwen" is unfortunately long.. went with your suggestion ("Middeleeuwen")

I continued pulling more of the site's language into message files but didn't get a chance to finish yet. Once I get them all pulled into message files I can g

[2020-02-26 17:14] BertscheS opened #30 "Sea hag bug"
The sea hag shows as 2 gold instead of 4 when the result of 10 cards is shown. Please also verify if this is just an ordering issue or if the algorithm really thinks it picked a 2 gold costing card.
![Screenshot_20200226-181751](https://user-images.githubusercontent.com/61513934/75369847-7cde5000-58c4-11ea-99b1-a7eaba772b98.png)

[2020-02-26 23:54] #30 closed

[2020-02-26 23:54] blakevanlan commented on #30
@BertscheS This is now fixed. Thanks for the report!

[2020-02-27 00:04] BertscheS commented on #30
I can confirm it is fixed. Thanks!

[2020-02-27 07:29] BertscheS opened #32 "Fishing village cost bug"
Fishing village is configured as 2 gold but should be 3.

![Screenshot_20200227-082306](https://user-images.githubusercontent.com/61513934/75421801-5c9da800-593b-11ea-9521-d6cf25ac80ca.png)

[2020-02-27 18:33] #32 closed

[2020-02-27 18:33] blakevanlan commented on #32
This should be fixed now as well. Thanks!

[2020-02-29 12:01] BertscheS opened #34 "Caravan Cost Bug"
Hi, I reviewed your yaml files for correct card costs in the Base set, Intrigue set, Seaside set and Prosperity set. I only found one more bug, which is Caravan in Seaside. It should have a cost of 4, but in your code it is 5.

[2020-03-01 19:59] blakevanlan commented on #34
Hi @BertscheS, thanks for taking the time to audit those sets! I'm on vacation for a week but will get this fixed up once I'm back.

[2020-03-02 14:09] gillesgros opened #35 "Card properties fix to apply"
Hello,

Here are some fixes to apply in sets folder

Intrigue & Intrigue2
   **Swindler** : **isAttack** should be **true**

Seaside
   **Lighthouse** : **isReaction** shoule be **false**

Hinterlands
**Haggler** : cost should be **5** not 4
**Cache** : cost should be **5** not 4

Darkage
   **Count** : **isTreasure** should be **false**

Adventures
   **Coin of the realm** : **isTreasure** should

[2020-03-02 18:08] gillesgros commented on #26
Hello,

For French cards translation, I am working on providing you all the jpg card files.
My 2 cents : I do not feel it is needed to translate all the pages

regards

[2020-03-03 07:59] gillesgros commented on #25
Hello,

I have finalized the personnal kingdoms file and the abilty to filter in the list of recommended kingdoms to find a suited kingdoms more easily.

For French Translation, i went the image way.

Have a look at [https://www.71yeti.fr](https://www.71yeti.fr).

I still need to finalized some french images.
I also would like to add the ability to filter recommended kingdoms with deck including a

[2020-03-11 00:48] #34 closed

[2020-03-11 00:48] #35 closed

[2020-03-11 00:48] blakevanlan commented on #35
Wow thanks for all the time auditing those cards!!

[2020-03-11 00:54] BertscheS commented on #34
Thanks! :)

[2020-03-11 01:16] blakevanlan commented on #25
Hi,

I'd love to use the French images instead of just the translations of the French cards. I didn't have images for the German or Dutch cards so translations was the best I can do. Let me know when the dump of cards is ready and I'd love to add it to the site.

I'm not sure on the recommended kingdoms additions. Here are my thoughts:
* **Jump to top**: Very is handy! - visually it's pretty promi

[2020-03-11 01:17] blakevanlan commented on #26
Sounds great @gillesgros! I'll provide a spreadsheet (eventually) with some of the site phrases if you do end up wanting to help translate portions of the UI that aren't just the cards.

[2020-03-11 15:16] gillesgros commented on #26
Not problem for helping on translation..
Here are some translated files

[messages-fr.zip](https://github.com/blakevanlan/KingdomCreator/files/4319039/messages-fr.zip)

[2020-03-15 16:36] Youbi42 opened #38 "How to build?"
Hello,
I’m trying to integrate the french translation. I have cloned the repo, checkout a branch and created the src/i18n/ required files, but I don’t know how to integrate that.
What is the process?
I’m running a local instance of KingdomCreator to test my changes.

Regards

--
Youbi

[2020-03-15 16:51] blakevanlan commented on #38
Hi Youbi,

Thanks for the help!

The French translations aren't fully setup yet since they weren't complete. Here's a few places you'll need to change:
1. Add `i18n/fr.ts` - Use `i18n/de.ts`([source](https://github.com/blakevanlan/KingdomCreator/blob/master/src/i18n/de.ts)) as an example - this file is what pulls in all the translations for a given language
2. Update `i18n/language.ts` ([source](h

[2020-03-15 17:46] Youbi42 commented on #38
Thanks!

I created `fr.ts` and updated `language.ts`, but I still can’t see the link for French.
I think that I may be wrong from the beginning:
How am I supposed to host KingdomCreator?
As for now, I only have a webserver (Apache) delivering the `docs/` folder.
Is there any step I should add to process the TypeScript files?

[2020-03-15 18:13] blakevanlan commented on #38
I'll update the README with instruction but here are the commands to run:
`npm start` - Run the development server with hot reloading at `localhost:8080`
`npm run build` - Builds the site and outputs the assets in `/docs`
`npm serve-static` - Serves the build assets from `/docs` in case you want to check the built version

My guess is you're not seeing the changes because you haven't run `npm run

[2020-03-15 18:17] Youbi42 commented on #38
You’re right, I haven’t built anything!
I’ll build and try again :)

[2020-03-15 18:51] Youbi42 commented on #38
The build (`npm run build`) fails with the following errors:

[code]

I can’t find the files `Boons.vue` and `Addons.vue`, but the following files exists:
[code]

I branched from master, should I merge another branch which fixes this typo?

[2020-03-15 18:55] blakevanlan commented on #38
I actually just removed `addons.vue` in PR #39. Git is funky with renaming files and I renamed `boons.vue` to `Boons.vue` but it looks like Git didn't actually pick up the change. I'll try and fix that again now.

[2020-03-15 18:56] blakevanlan commented on #38
Just pushed a commit to rename the file. `master` should be working for you again.

[2020-03-15 19:16] Youbi42 commented on #38
I pulled and merged master into my dev branch, but there is still an error regarding `Addons.vue` not existing.
I copied `addons.vue` to `Addons.vue` to fix that, but one error still remains:

[code]

May it be related to my node version?
[code]

[2020-03-15 19:27] blakevanlan commented on #38
I should move this to building in Docker for convenience.

Potentially. That looks like a TypeScript error though so probably has more to do with the version of TypeScript.

Just pushed a [fix](https://github.com/blakevanlan/KingdomCreator/commit/4e482f4a79c12874c56777cf06b7a491442aca63) for the issue. Not sure why it wasn't failing for my build.

[2020-03-15 19:44] Youbi42 commented on #38
You rock!
I can now successfully build the assets :)
Language switching actually works, but all is still in english.
I will check everything before coming back to you.

[2020-03-15 19:51] blakevanlan commented on #38
Great! 😄 Let me know if you get stuck.

[2020-03-16 19:49] Youbi42 commented on #38
Hello!
Still no success when language is French.
None of the translations are applied.
How can I clean the `docs/` directory? I would like to clean any outdated asset.

Can I propose a merge request for you to checkout my branch and test?

Best regards

[2020-03-16 20:55] Youbi42 commented on #38
It works!!!
I had used `en.ts` as base template for `fr.ts`, I was so wrong :D
I rewrote `fr.ts` from `nl.ts`, and voilà!
I’ll come back to you when my translation is complete.

Thanks for your help :smiley:

[2020-03-17 01:49] blakevanlan commented on #38
Glad you got it working!

@gillesgros uploaded a zip of languages files that you might find useful: [messages-fr.zip](https://github.com/blakevanlan/KingdomCreator/files/4319039/messages-fr.zip)

[2020-03-17 11:15] gillesgros commented on #38
@blake : I have all the images in french. How do you want them packaged ?

@Youbi42  : have a look at https://71yeti.fr

I have notices some typos. I will provide an update.

[2020-03-17 11:21] gillesgros opened #40 "To add the possibility to track which Game i have played"
Hello,
A nice new feature to consider.
On a browser, it would be nice to be able to store an so track which recommended set of kingdom I have played.

My suggestion to make it simple, when you change browser (cookies reset) you lost the tracking.

What do you think.

If you feel that might be good I will try it during my covid confinement.

Gilles

[2020-03-17 12:55] blakevanlan commented on #38
@gillesgros Awesome! A zip is fine or you can open up a pull request. I'll probably name them all something along the lines of `{set}_{cardname}_{lang}.jpg` (ex: `adventures_caravanguard_fr.jpg`).

[2020-03-17 12:58] blakevanlan commented on #40
Sure, sounds like a good feature. I'd be happy to have it added to the site.

I've been trying to come up with a way to easily store this kind of info across devices without running a backend server. One option would be to allow people to sign in via Google OAuth then use a Google Sheet as a backend. That way all this data could be persisted. What do you think?

[2020-03-17 16:00] gillesgros commented on #40
Hello,
yes using Goggle Oauth is a great way and we might alsouse it to allow personnal sets to be stored.

[2020-03-17 18:29] marksim opened #41 "Menagerie Support"
Looks like the new rule book to Menagerie is out -- sticking this here as a placeholder:

http://riograndegames.com/getFile.php?id=2220

[2020-03-17 19:24] gillesgros commented on #38
Hello here is the zip file

to avoid to have to duplicate image from baseset to baseset2  i use @error directive on img

I add my static-card.vue file as example

[static-card.zip](https://github.com/blakevanlan/KingdomCreator/files/4345379/static-card.zip)

image zip file : https://71yeti.fr/img/card.fr.zip

[2020-03-17 19:55] Youbi42 commented on #38
Nice card images @gillesgros :) That will be awesome to complete the translation ^^
@blakevanlan I’ve just opened pull request #42 which brings full french translation. A `npm run build` is necessary, I didn’t want to add changes on assets to the git history.

[2020-03-17 22:14] gillesgros commented on #38
And a fix of typo in file cards.fr.json

[cards.fr.json.zip](https://github.com/blakevanlan/KingdomCreator/files/4346054/cards.fr.json.zip)

[2020-03-18 02:11] blakevanlan commented on #38
Deployed in #43!

[2020-03-18 02:15] blakevanlan commented on #38
@gillesgros where was the typo? Realized I deployed without merging in your changes.

[2020-03-18 07:05] gillesgros commented on #38
silos, old witch and Piazza at least. were having typos.

[2020-03-18 19:45] Youbi42 commented on #38
I’m comparing and fixing my typos ^^
All french name were crawled from dominionstrategy, my quick check wasn’t enough for the translation to be perfect!

[2020-03-18 20:26] Youbi42 commented on #38
Thank you for your fixes, @gillesgros :) I checked your version against the « official » dominion.games cards, and fixed all the errors.
Let me know if I forgot something.

@blakevanlan fixes are ready to merge, see #44 :)

[2020-03-21 16:19] blakevanlan commented on #26
The French cards have been added (deployed in #46).

There are a few cards that I temporarily used the English version for until we can find a French version:
- Encampment / Plunder (combined card)
- Settler / Bustling Village (combined card)
- Catapult / Rocks (combined card)
- Patrician / Emporium (combined card)
- Gladiator / Fortune (combined card)
- Stash

[2020-03-21 16:20] blakevanlan commented on #38
Deployed French cards in PR #46!

[2020-03-21 16:20] #38 closed

[2020-03-21 17:05] gillesgros commented on #26
I have made those cards.
i will send them to you tomorrow

Gilles

Le sam. 21 mars 2020 à 17:19, Blake VanLandingham <notifications@github.com>
a écrit :

[2020-03-22 10:53] gillesgros commented on #26
Hello,

here are the cards that were missing.
I realized that the card package I made was broken (all cards named
with seaside). Sorry for that.

Regards

suggestions :
1- I would suggest to place cards in extension set folder, so that it might
be easier to find if needed.
2- I will try to do the same as cards for Boxes and rules that exist in
other languages (french for my part).
2 - I will soon

[2020-03-28 14:01] blakevanlan commented on #26
Hey @gillesgros,

Thanks for the suggestions. The cards you mention don't seem to be attached.

I agree that separating out the languages makes sense. I ended up with this structure: `/docs/img/cards/fr/...`.

Left the English cards in the same place for now but may move them later.

I didn't totally follow what you were talk about for the cost since the cost is being defined in the set yaml files

[2020-03-29 07:48] gillesgros commented on #26
Hi Blake,

**1 - Missing cards**
I attached the cards again (before reply by email. I suppose it removes attachments.
[_For Blake missing cards.zip](https://github.com/blakevanlan/KingdomCreator/files/4398419/_For.Blake.missing.cards.zip)

**2 - Image folder structure**
I agree with the structure modification for language.
On my side, I store image file by set (adventures, seaside, baseset, ...).

[2020-03-30 10:48] gillesgros commented on #26
Hello Blake,

Hope you're fine during this troubled period.
I updated my version in relation to your new code structure.
Have a look a [71yeti.fr](https://71yeti.fr)

Regards

[2020-04-04 23:44] #41 closed

[2020-04-04 23:46] blakevanlan commented on #26
@gillesgros & @wdeweijer - I've added Menagerie support in English. Feel free to propose pull requests for the other languages!

[2020-04-07 13:42] mindgam3s opened #48 "make the "Alchemy" rule optional"
It would be great to make the Alchemy rule optional, meaning that it's not always at least 3 alchemy cards or none.

[2020-04-09 17:59] carmypies opened #49 "Bounty Hunter does not sort correctly by cost"
![image](https://user-images.githubusercontent.com/63420210/78926000-f475d200-7a61-11ea-82c6-bd7426efe51e.png)

[2020-04-10 12:06] #49 closed

[2020-04-10 12:07] blakevanlan commented on #49
Thanks for the report @carmypies! This should now be fixed.

[2020-04-10 12:08] blakevanlan commented on #48
@mindgam3s: You're right, you should be able to toggle this on and off. I'll try to find some time this weekend to add an option.

Thanks for filing!

[2020-04-13 07:32] davidtorosyan opened #51 "Query parameters aren't cleaned up"
I've noticed that while the query parameters in the URL update to match the randomized cards, they don't clean up previous entries.

For example, start with this URL:
`https://dominionrandomizer.com/?supply=castles,chariotrace,expand,haven,merchantship,moneylender,patricianemporium,pawn,shantytown,treasuremap&landmarks=basilica&colonies=1&events=conquest`

Then uncheck prosperity and hit randomize

[2020-04-17 14:37] khughitt opened #52 "Add option to rank sets?"
Would it be possible to incorporate a voting/ranking option into the the randomizer?

For example, after a set is selected and the users play a game, they could tank the set based on how fun it was, on a scale from 1-10.

Then, as sufficient data is collected, you could start to report average rankings associated with each deck permutation, and perhaps even add an option to use the rankings to bia

[2020-04-17 21:43] blakevanlan commented on #52
Hi Keith,

Thanks for the suggestion! I've been very interested in doing something similar but I've never gotten around to it because the site is entirely static at the moment, so there's no server to store anything.

I've been considering backing the site with free options, Google Sheets etc but haven't spent the time to build out anything significant yet.

[2020-04-17 21:44] blakevanlan commented on #51
Good find!

Thanks for the thorough description. This should be fairly straightforward to fix. Hoping to get to it this weekend or next.

[2020-04-18 15:19] khughitt commented on #52
Yea, I suspected that might be a challenge, and have faced a similar limitation when building Github websites for various projects in the past.

If edits were rare, and the population of users technically savvy, then one could imagine just having users submit PR's to update a CSV, etc. file used on the back-end. Obviously, that is not what you would want to go for here, and really, you want to mak

[2020-04-18 15:24] khughitt commented on #52
Side note: if you do eventually end up finding a reasonable enough option to make the site dynamic, one more potentially useful thing you could imagine doing would be to allow users to rate the _cards_ themselves as well. This way, for example, you could include an option to give higher weight to cards with high ratings. My first thought would be to rate the cards for how "fun" they are to try and

[2020-04-26 12:56] mindgam3s commented on #48
Hi,

I just wanted to ask how the status is.

[2020-04-29 15:37] gillesgros commented on #40
I build a version which use only client side storage.
Tell me what you think of it.
I tryed to play with Google Oauth but I feel it request a too large access of the google drice of the user.
I will try it on my side if needed.

Tell me what you think of it.

Regards

[2020-04-29 22:58] blakevanlan commented on #48
Hi,

I've been slow. 😞

Really was hoping to get to this the past to weekend and wasn't able to find the time. In the middle of switching jobs and moving across the country so life's been a bit too hectic to find the time to make this happen. Sorry!

It's definitely the top improvement on my list!

[2020-05-19 13:06] poodleguts opened #53 "Copy to Clipboard"
It would be really nice if, when you used the "Copy to Clipboard" feature, that "Events , Landmarks , Projects & Ways" were also copied.

I tested whether this would work on dominion.games, and the "Events , Landmarks , Projects & Ways" work just like regular cards, in the comma-delimited list.

[2020-05-19 13:07] blakevanlan commented on #53
Thanks for the feedback! I'll make sure to update the copy to include events, landmarks, etc. I guess I just assumed it wouldn't work for some reason.

[2020-07-04 18:53] notevenodd opened #55 "Missing Promo Cards"
Some cards are missing and/or never get selected, at least from Promo:
- Dismantle
- Captain,
- Church
- Summon (event)
- Sauna+Avanto (split pile) [there are "promos_sauna" and "empires_saunaavanto" images though]

[2020-08-16 06:09] theshampooguy opened #58 "Dominion Randomizer only using base set cards (all of a sudden)"
Please advise...

[2020-08-18 05:44] theshampooguy commented on #58
![image](https://user-images.githubusercontent.com/69745535/90474843-10a61180-e0db-11ea-93b8-6bf8a49fe9dc.png)

![image](https://user-images.githubusercontent.com/69745535/90474880-274c6880-e0db-11ea-9abe-ccd0ff5c6c19.png)

[2020-09-11 03:12] erikmetz opened #62 "Coven is labeled as a non-attack"
For some reason if no attacks is selected you can still roll coven.

[2020-09-20 02:45] davidtorosyan commented on #58
Hey @theshampooguy, this is actually an issue in my plugin [command.games](https://github.com/davidtorosyan/command.games). I tracked down the issue myself just now, and it has to do with a recent change in how Chrome handles cookies.

@blakevanlan, my plugin doesn't work anymore in Chrome because of [SameSite cookies](https://web.dev/samesite-cookies-explained/). Basically, my strategy of "open d

[2020-09-20 04:31] davidtorosyan commented on #26
I think the Copy button still copies in English. Has it been updated to support translations?

[2020-09-20 06:29] theshampooguy commented on #58
Sounds good.

It's still not working.

Thanks.

On Sat, Sep 19, 2020 at 7:46 PM David Torosyan <notifications@github.com>
wrote:

[2020-09-20 15:08] blakevanlan commented on #58
@theshampooguy - Just merged PR #63 which should allow command.games to work again.

[2020-09-20 15:08] #58 closed

[2020-09-20 15:32] #62 closed

[2020-09-20 15:42] blakevanlan commented on #26
Just merged #65 to fix this and also include all the addons (events, projects, etc) when copying.

[2020-09-20 15:42] blakevanlan commented on #53
Just merged a fix for this in #65. Enjoy!

[2020-09-20 15:42] #53 closed

[2020-09-20 17:22] davidtorosyan commented on #58
Thanks @blakevanlan!

[2020-09-20 17:42] davidtorosyan commented on #26
More fun edge cases. I was testing copy/paste in German, and found that some cards didn't make it over.

| English      | dominionrandomizer.com | dominion.games |
| ------------ | ---------------------- | -------------- |
| Grand Market | Grosser Markt          | Großer Markt   |
| Citadel      | Zitdelle               | Zitadelle      |

I'm sure there are more. If you search through [the source

[2020-09-20 18:04] blakevanlan commented on #26
Bummer! At least it should be pretty straightforward to extract via a script.

[2020-09-21 18:45] theshampooguy commented on #58
I've reloaded the extension, but it still doesn't work on Chrome.

I tried it on Edge, and it does work.

Thanks

On Sun, Sep 20, 2020 at 8:08 AM Blake VanLandingham <
notifications@github.com> wrote:

[2020-09-21 18:48] davidtorosyan commented on #58
@theshampooguy weird, it's working for me on Chrome. Can you verify the version of command.games you're using? It might also help to reopen the issue on [my repo](https://github.com/davidtorosyan/command.games) since the issue is specific to the plugin.

[2020-09-21 18:53] theshampooguy commented on #58
It looks like v 1.5.0?

[image: image.png]

On Mon, Sep 21, 2020 at 11:48 AM David Torosyan <notifications@github.com>
wrote:

[2020-09-21 18:55] davidtorosyan commented on #58
@theshampooguy can you try reconfiguring your choices in dominionrandomizer? I think maybe the cookie needs to be reissued.

[2020-09-21 19:45] theshampooguy commented on #58
I had done that several times over the past few days.

But I did it again, and it worked--thanks!

On Mon, Sep 21, 2020 at 11:55 AM David Torosyan <notifications@github.com>
wrote:

[2020-09-22 15:53] poodleguts commented on #53
Works perfectly!  Thanks for your hard work!

/Dave

On Sun, Sep 20, 2020 at 11:42 AM Blake VanLandingham <
notifications@github.com> wrote:

--
*​                                                        *

*Dave Daley*Senior Technical Consultant
519 851 2737

[2020-09-26 07:31] davidtorosyan opened #66 "Duplicate query parameters breaks site"
Visit this url:
https://dominionrandomizer.com/?supply=&supply=

And you'll find a mostly empty page with this error in the console:
`TypeError: t.split is not a function`

Apparently the [RFC](https://tools.ietf.org/html/rfc3986#section-3.4) doesn't mention how to handle duplicate query parameters (see discussion [here](https://stackoverflow.com/questions/1746507/authoritative-position-of-duplica

[2020-09-30 06:17] davidtorosyan opened #67 "Landmarks aren't generated if the query parameters have supply cards"
This is kind of an obscure (bug?), but that's what you get when you're working on edge cases.

### Repro steps
#### Setup
Uncheck all options except for Empires.
#### Happy path
Visit https://dominionrandomizer.com/ and notice two landmarks get generated.
#### Bug
Visit https://dominionrandomizer.com/?supply=archive and notice that while the rest of the supply is filled out, the landmarks stay emp

[2021-01-27 09:21] Soketin commented on #26
Hello there! I would love to add Spanish language to the web. Could you please send me the files or file to translate? Thank you very much!!! :)

[2021-03-05 08:03] mindgam3s commented on #48
bump ?^^

[2021-03-13 19:16] TArtzo opened #77 ""Idol" from Nocturne should have a cost of 5"
Idol from Nocturne is generated as a cost 2 card, even though it has a cost of 5

[2021-03-13 19:40] TArtzo commented on #77
It seems also Raider from Nocturne alsp has a treasure cost of 2 when it should be 6.

[2021-03-16 02:49] Dukesavard opened #78 "Feast card error in french version"
In french version "Festin" should be 5 not 2

[2021-04-03 15:24] blakevanlan commented on #78
You're totally right! Not sure how that image was created incorrectly. I'm not able to find the French version of that card with the correct cost. I'll replace it as soon as I find it.

[2021-04-03 15:27] #77 closed

[2021-04-03 16:29] TArtzo commented on #55
This! If this is a problem for you I suggest using Jack of All Dominion on Android if this still isn't fixed. I run it on my computer using BlueStacks.

[2021-04-04 14:30] #48 closed

[2021-04-04 14:32] blakevanlan commented on #48
@mindgam3s Your wish is my command! (after an absurdly long wait, of course)

[2021-04-04 15:14] #55 closed

[2021-04-04 15:15] blakevanlan commented on #55
@TArtzo, @notevenodd - Finally got around to fixing this. Apologies that it took so long!

[2021-04-05 04:45] TArtzo commented on #55
Appreciate it! But just wanted to point out that Avanto and Sauna are a split deck. Currently they're showing up separately.

[2021-04-05 20:31] mindgam3s commented on #48
thank you!

[2021-04-06 04:24] berleant opened #82 "Various special card setup rules"
Some cards have second-order effects on the board set up, such as picking a Bane for Young Witch. Picking a Bane for Young Witch is already implemented. Some other similar situations, which I have attempted to order in terms of "fit", are:

* Obelisk chooses an action supply pile http://wiki.dominionstrategy.com/index.php/Obelisk
  * A great fit for this project, especially since it's very similar

[2021-04-06 10:06] mindgam3s opened #83 "suggestion: make 'Dominion II' default instead of 'Dominion I'"
Type: Suggestion
Difficulty: really easy

most people probably have version 2 of both 'Dominion' and 'Intrigue'
so it MIGHT be a good idea to make version II default.

if not just close this suggestion :)

[2021-04-06 10:15] mindgam3s commented on #40
I think you should just create a Pull Request and let him see whether he likes it :)
this really looks interesting

also I noticed you implemented some "animations" when re-ordering the selected cards ?
really liked that

[2021-04-06 10:16] mindgam3s commented on #40
@gillesgros

I think you should just create a Pull Request and let him see whether he likes it :)
this really looks interesting

also I noticed you implemented some "animations" when re-ordering the selected cards ?
really liked that

[2021-04-06 21:16] gillesgros commented on #78
Hello,

Here is a fix French card
![feast](https://user-images.githubusercontent.com/39326434/113779477-15810980-972e-11eb-8305-4b171b64dcbd.jpg)

[2021-04-06 21:33] gillesgros commented on #25
Hello,

time has gone by, but I am still using the version I Build.
I a not confortable with pull request sorry. And I have modified quite extensively cards organisation (by set).
at   https://www.71yeti.fr is still my last version updated with your last change.
Tell me if you want a full package to integrate some or all the pieces.

[2021-04-07 00:19] TArtzo opened #84 "Merge Promo cards "Avanto" and "Sauna""
Both of these decks are part of a split deck normally, similar to Catapult/Rocks or Settlers/Bustling Village. I suggest Avanto should be deleted and the image for Sauna should be replaced with the randomizer card that references them both.

Here's a scan: http://wiki.dominionstrategy.com/images/thumb/4/4a/Sauna_Avanto.jpg/375px-Sauna_Avanto.jpg

[2021-04-08 00:08] #83 closed

[2021-04-08 00:33] blakevanlan commented on #83
Fixed! Great suggestion.

[2021-04-08 00:33] #78 closed

[2021-04-08 00:33] #84 closed

[2021-04-08 00:34] blakevanlan commented on #84
Great catch, totally didn't read closely enough and don't have the cards myself!

[2021-04-08 00:38] blakevanlan commented on #82
Thanks for the suggestions! Comments inline below:

Great point! This should be reasonable to do.

Make sense. Should work very similar to how bane is handled.

This works already! It shows up at the bottom which is easy to miss.

This one is supported too.

[2021-06-22 03:58] arowdok opened #93 "Request cost deselect all button"
In the specify options for costs can you add a deselect all costs and select all cost button?

I am commonly deselect all but one, roll then later selecting all again. It is tedious to click off and on 6 or 7 boxes each time.

[2021-12-05 18:04] Lukas1818 opened #98 "Feature: Rule: Require Attacks"
It would be nice feature if it would be possible to force a attack card. So you can weaknesses other players.

[2021-12-05 18:21] LuckyTurtleDev opened #99 "Feature: change card count"
A option to change the count of the cards, which will be selected.

At the most games, I have played, multiple players had often bought large number of all the same cards. Because of this 2 pile of cards was extremely fast empty. At the same time only a small number of other card was bought. A large number of cards would give the player a large selection, so they would not buy all the same cards.

[2022-02-23 07:59] theshampooguy opened #102 "How to use randomizer with new Dominion update?"

[2022-03-14 01:06] Go1den opened #104 "Feature request: Fullscreen button"
As a Dominion fan with lots of newbie friends, it would be nice to have a fullscreen mode which just displays the "main" div at 100% width and 100% height while hiding the sidebar, improving the readability of each card. Maybe when in full screen mode there would be another button to return to normal.

I like to display this website on my TV while playing so other players can look at the TV screen

[2022-03-14 01:08] blakevanlan commented on #104
That's an interesting idea! I'll think on how to make it work universally.

Thanks for the suggestion 😄

[2022-03-14 01:10] Go1den commented on #104
Thanks! I'd do it myself but ashamedly my typescript and Vue knowledge is lacking.

Just in the browser itself I can edit the HTML to sort of accomplish it:
I just set the "sidebar" div to style="display: none;" and I set the "main" div to style="width: 100%; height: 100%;" if that helps.

[2022-04-29 16:51] dmi3kno opened #105 "Add Allies"
New set is out. Maybe could be addressed together with Seaside 2ed, which should be made public within 2 weeks

[2022-04-30 12:33] CaveCenam commented on #105
I agree. I am owning the game for weeks now and have been playing online with it. But I want to randomize my deck with your website, since it offers convenient options.

[2022-05-01 14:54] blakevanlan commented on #105
Hi @dmi3kno and @CaveCenam - I hear you! I've started a branch to add support for Allies but I ran out of time before getting it done. Hoping to have it out in the next few weeks. Sorry for the delay!

[2022-05-01 17:19] CaveCenam commented on #105
Good afternoon, i can participate for the German side of things, and have
time atm . therefore, if i can help, let it know. i could implement the
cards. (if instructed )

Am So., 1. Mai 2022 um 16:54 Uhr schrieb Blake VanLandingham <
***@***.***>:

[2022-06-05 08:05] ghostsquad commented on #105
Please sir, may I have another [expansion]?

[2022-07-02 17:09] gillesgros commented on #105
Hello,

I just proposed a pull request related to Allies.
You can see it working at : [https://71yeti.fr](https://71yeti.fr)

[2022-07-02 20:05] dmi3kno commented on #105
Well done. Isnt Allies listed twice now (3rd and last entry)?

[2022-07-03 10:54] gillesgros commented on #105
I will need to work on that. I'll post when done

[2022-07-05 00:44] #102 closed

[2022-07-05 00:45] blakevanlan commented on #105
Done! #111

[2022-07-05 00:45] #105 closed

[2022-07-15 20:58] Pugintv opened #112 "Add/Update Seaside II"
See full notes: https://store.steampowered.com/news/app/1131620/view/3185745740382652293?fbclid=IwAR3AOMk-DcRkgFmUkKiv9nnOX7WFtMGr7z9y5F6McRQ8624JnrXb9iixY50

Changelog is as follows

- Added Astrolabe
- Replace Embargo for Blockade
- Replace Ghost ship for Monkey
- Replace Navigator for Tide Pools
- Replace Sea Hag for Sea Witch
- Replace Pearl Diver for Sea Chart
- Replace Explorer for Pirate
-

[2022-07-15 21:29] Pugintv commented on #112
[seaside-2.yml.txt](https://github.com/blakevanlan/KingdomCreator/files/9124154/seaside-2.yml.txt)

[2022-08-03 09:18] markbrockettrobson commented on #112
https://github.com/blakevanlan/KingdomCreator/pull/114
waiting on @blakevanlan

[2022-08-12 20:13] rubikscuber opened #118 "Feature request: Sort cards by their translated name"
Basically, as the title states - I would enjoy if the supply cards would be sortable by the translated name of the card.
As I did not really find the correct parts in the code I request your help. Maybe this feature is not possible atm. and would require adding an additional field 'translated_name' to the card class?
Please let me know what you think.

[2022-08-13 16:23] rubikscuber commented on #118
solved by #120

[2022-08-13 16:23] #118 closed

[2022-09-05 00:57] RoothDragon commented on #112
Yes please. 👍

[2022-10-11 07:57] theshampooguy commented on #105
The whole randomizer stopped working once Allies was introduced (no cards
work in the randomizer anymore).

On Sun, May 1, 2022 at 10:19 AM CaveCenam ***@***.***> wrote:

[2022-10-25 20:19] noscgag opened #128 "Bane card present without Young Witch in the kingdom"
I selected Empires, Renaissance, and Menagerie and told it to Randomize. It chose:

Crown, Enchantress, Farmer's Market, Wild Hunt, Hostelry, Scrap, Stockpile, Hideout, Patron, and Villain, with Menagerie as the Bane card

It also selected Delve, Arena, and Market Towns for Event, Landmark, and Ally. These are fine.

Oddly, it also selected three Boons, and said I should play with Platinum/Colony

[2022-10-25 20:20] noscgag opened #129 "Please add Hinterlands II"
The physical cards have been available for a while and I enjoy playing with them. Thanks.

[2022-11-01 04:35] markbrockettrobson commented on #129
https://github.com/blakevanlan/KingdomCreator/pull/116

the Pr is done and waiting on blakevanlan